[2016-09-14 19:57] andrew19881123 opened #1 "Processing node_modules failed. Error: spawn EACCES"
i cloned the git and i did

[code]

and i received the error: Processing node_modules failed. Error: spawn EACCES

i managed to get the app to build by removing and adding back the android platform

[2016-09-14 20:00] andrew19881123 opened #2 "error NotificationIntentService has no zero argument constructor"
I saw the note on the nativescript blog

but how do I solve the problem to make this app works?

[code]

[2016-09-16 19:11] keesvandieren commented on #1
Reason is gradlew has no executable flag.

chmod +x platform/android/gradlew

[2016-09-21 07:54] WinMinTun commented on #2
@andrew19881123 @slavchev I m having the same problem and cannot move passed. Pls help!!

[2016-09-21 07:59] petekanev commented on #2
@andrew19881123 @WinMinTun

With version 2.2.0 of the android runtime you can open the generated `.java` file and remove the extra piece of code yourself. With the recent update to the binding generator in 2.3.0 `.java` files are no longer generated and that can't be done.

Take a look at https://github.com/NativeScript/sample-android-background-services/blob/master/platforms/android/src/main/java

[2016-09-21 10:26] WinMinTun commented on #2
@Pip3r4o

Yes I see it there. But the problem is my edited code gets overwritten when`tns run android`.

1) Generated `.java` file cannot be edited - overwritten when build and run. I just need to add
`public NotificationIntentService() {
        this("NotificationIntentService");
    }` in java. How can I do that to the JS?
2) And also another problem is that after platform removed, can no longer

[2016-09-21 11:01] petekanev commented on #2
@WinMinTun regarding _1)_ - the lack of empty constructor is JVM's fault, but we normally rewrite generated classes. You may have to disable the binding generator after having generated the java class and editing it. To do that - open `platforms/android/build.gradle` and comment out `setProperties.finalizedBy("asbg:generateBindings")`
2) - if you are using 2.2 `.java` should be generated in `src/j

[2016-09-22 02:56] WinMinTun commented on #2
@Pip3r4o Thanks a lot for the details. It works now for 2.2.

[2016-09-22 03:59] WinMinTun commented on #2
@Pip3r4o I have another issue. Why `com.tns.broadcastreceivers.NotificationServiceStarterReceiver` not get translated into `.java`? I don't see it even in your example. Appreciate your help. :)

[2016-09-27 07:07] WinMinTun opened #3 "Custom Event fired from NotificationIntentService not get captured"
I wanna update the UI with notification update, and I use custom event. In NotificationIntenetService.js, I emit notification event with data

[code]

But the event with event name 'notificationAll' not get captured in `ViewModel`. Pls kindly help

[2016-09-27 07:12] petekanev commented on #3
@WinMinTun Can you provide more context? I can't quite make out by just the code chunk above what you want to achieve. And why does the helper inherit from Observable? It's just that - a helper, I don't think you should depend on it to update UI, rather send intents to your application, which you handle with a Broadcast receiver

[2016-09-27 07:15] WinMinTun commented on #3
@Pip3r4o thanks for quick response. I will try it to update the UI with intents and a broadcast receiver

[2016-09-27 08:05] WinMinTun commented on #3
@Pip3r4o I have tried using https://docs.nativescript.org/core-concepts/application-lifecycle to register the broadcast receiver to activity as in http://stackoverflow.com/questions/14695537/android-update-activity-ui-from-service and still no good luck. I m completely at lost. If possible could u add it to ur example?

[2016-09-27 08:13] petekanev commented on #3
@WinMinTun

http://stackoverflow.com/questions/2463175/how-to-have-android-service-communicate-with-activity
http://stackoverflow.com/questions/36525508/communication-between-android-services-and-activities
http://www.vogella.com/tutorials/AndroidServices/article.html

[2016-11-13 12:24] snekbaev opened #4 "AngularJS 2 + TS example"
Hi,

is it possible to have aforementioned example? I'm new to NS including the subject tech. Trying to find my way to get sms received broadcast receiver configured. If I just copy NotificationServiceStartReceiver into .ts file, rebuild and run the thing I get an exception:

[code]
I do have permissions configured correctly: static manifest + runtime via permissions plugin. Also registered the re

[2016-11-13 12:26] petekanev commented on #4
Hey @snekbaev could you provide a code sample? TypeScript is no different than JavaScript in that the transpiled code executes the same way. At first sight the issue appears to stem from the fact that you haven't named the class you are extending the same way you've declared it in the manifest.

[2016-11-13 15:06] snekbaev commented on #4
Hi,

here is the snippet from the manifest right before the end:

[code]

NotificationServiceStarterReceiver.ts contents:

[code]

I don't see any console log messages either

[2016-11-13 15:21] petekanev commented on #4
@snekbaev, you are extending a class with incorrect namespace (android.content.BroadcastReceiver~~.BroadcastReceiver~~) note the extra `BroadcastReceiver`. Also if you are going to extend the JavaScript way but in TypeScript, you should not that `constructor` will not be recognized as the constructor function, and should use `init` instead. `init: function() { console.log("Constructing object...")

[2016-11-13 20:52] snekbaev commented on #4
I'm a bit confused because from your reply it feels like I have three BroadcastReceiver, but I have two because it was copied it from:

[code]

does that mean the source is broken too? Nevertheless, I fixed my issue by having only one BroadcastReceiver:

[code]

I have three follow up questions:
1) what I noticed since started playing with NS is that sometimes I have to uninstall the app from the

[2016-11-13 21:32] petekanev commented on #4
@snekbaev fixed the typo in my previous comment. Also fixed the sample, thanks for pointing out the mistake in the source.

1) When extending native classes/interfaces through JavaScript/TypeScript you would need to REBUILD the application each time to trigger generation of the updated source. Livesync only pushes updated JavaScript sources, but will not rebuild the app, and thus bindings for your

[2016-11-14 06:15] snekbaev commented on #4
Thank you for your help!

1) alright, I will be doing tns deploy in those cases without manual uninstallation
2) very nice :) I needed a way to read incoming sms, those APIs were added in version 19, whereas NS has d.ts file for version 17, so had to make this functionality in Android Studio first, now will port to NS app.
3) http://docs.nativescript.org/cookbook/application -> Registering a Broad

[2016-11-17 21:48] snekbaev opened #5 "Calling ng component method from receive broadcaster"
Hi,

trying to find a solution to the following: I'm able to receive the incoming sms and then broadcast it further for processing. In home component in ```ngOnInit``` I have ```app.android.registerBroadcastReceiver``` registration which successfully receives the sent intent. So far so good. Now I would like to call some other method on the home component, say to update the UI. Question is how to

[2016-11-21 12:48] petekanev commented on #5
@snekbaev I am not sure I understand the problem completely. What exactly is not working on your end, what have you tried so far?

[2016-11-21 13:39] snekbaev commented on #5
Hi,

I tried to get the reference to the host NG component, I had:

[code]

and then tried to use the ```that``` inside onReceive callback. TS complained that it can't find the ```that```. Tried having a global variable and initialize it in the constructor. Apparently what I missed is to try declaring the ```that``` variable inside a function:
[code]
many thanks to @NickIliev who pointed to the ex

[2016-11-21 13:39] #5 closed, assigned to nobody

[2016-11-22 07:51] snekbaev opened #6 "BroadcastReceiver JS and TS versions"
Hi,

based on our discussion in here: https://github.com/NativeScript/android-runtime/issues/635

Just wanted to confirm whether implementation is good enough (it works though):
broadcast receiver is registered in the AndroidManifest
[code]

Initial JS version:
[code]

Current TS version:

[code]
TS version can be made better. If I have the ```declare module``` and that class in d.ts file then it

[2016-11-26 11:24] arslanutku opened #7 "This application crashed when another application orientation landscape mode"
abstract method not implemented
com.tns.gen.android.content.ComponentCallbacks2.onConfigrationChanged...

This error report.

[2016-11-26 11:26] arslanutku commented on #7
This Android 4.4.2 Samsung Note 2 phone .

[2016-12-05 20:13] ivanwitzke commented on #2
Any solution for this on 2.3+ ?
I'm using "tns-core-modules 2.4.1" and "tns-android 2.4.1" and I need to implement a background sync service for the app I'm developing. (Must work even when the app is closed...)

[2016-12-20 14:23] robophil commented on #1
[code]

just to be sure, add the `.bat` file extension, and platforms is missing an `s` @keesvandieren

[2016-12-21 16:06] AnthonySmith01 opened #8 "Persisting the background service after device restart"
Hi

Thanks for this great project.

Quick question, is there anyway to make this background service trigger or persist after a full device restart?

[2016-12-24 11:39] AnthonySmith01 commented on #8
My mistake, just noticed that it seems to run after reboot,

[2016-12-24 11:39] #8 closed, assigned to nobody

[2016-12-24 11:43] AnthonySmith01 opened #9 "Crashes when attempting to run on Android reboot"
Hi

Great project, thanks for sharing.
I noticed on my Android device that the service crashes after a reboot. Here is the error (any ideas?):

java.lang.RuntimeException: Unable to instantiate receiver com.tns.broadcastreceivers.NotificationServiceStarterReceiver: java.lang.ClassNotFoundException: Didn't find class "com.tns.broadcastreceivers.NotificationServiceStarterReceiver" on path: DexPathLi

[2016-12-24 13:40] AnthonySmith01 commented on #9
It looks like a corresponding java file is missing from the project in:
sample-android-background-services/platforms/android/src/main/assets/app/broadcastreceivers/

I'll take a look and get back to this issue if I work it out.... but for now, it's Christmas!

[2016-12-24 13:51] snekbaev commented on #9
@sm1ddy this might not be related specifically to your case, but I was encountering that problem from time to time at runtime when NS wasn't able to find the broadcaster class. The fix I applied was to remove the android platform and add it again. Then do the build, deploy and see if it works. After that it is ok to continue with livesync approach until the next time it occurs. Hope this helps.

P

[2016-12-24 14:39] AnthonySmith01 commented on #9
Thanks mate, the advice is much appreciated. :)

I actually just fixed my issue by manually creating this file:
sample-android-background-services/platforms/android/src/main/java/com/tns/broadcastreceivers/NotificationServiceStarter.java

(It's missing from the project).

I added the following code to the file:

I'll leave this issue open for now in case the project owner @Pip3r4o wants to take a

[2016-12-24 14:50] snekbaev commented on #9
@sm1ddy imho, that's not a good approach. The moment you will need to re-add the android platform it will be wiped, moreover a lot of stuff there is being generated. Re-adding might be required when, for example you will be working on a NS custom plugin and, say, update its packages, there were also several other cases, can't recall all. But in the most of situations if some weirdness is happening

[2016-12-24 15:01] AnthonySmith01 commented on #9
Generally that is a good point.

This project is different, however, because it relies on @Pip3r4o's android-manifest and java class additions to the platforms folder which facilitates a native background service. Even without my changes, it will still break if you remove the Android platform.

So yep you're right but this is a special case even without my changes (unless I'm wrong of course). :)

[2016-12-24 17:52] petekanev commented on #9
Hey, I'd like to pitch in by saying that the class should be present after
a complete build, as it is generated by the binding generator (called to
during build phase) in the form of a compiled class (.class packed in a
.dex) in build/intermediates.
Please describe the steps from a clean slate to the aforementioned crash,
so we can pinpoint the issue.

Thanks and happy holidays!

On Dec 24, 2016 5

[2016-12-29 06:21] samuelt1 commented on #2
i am having the same problem. I also noticed that this sample project has a few extra files that my project does not have.

platforms/android/src/main/java/com/tns/broadcastreceivers
platforms/android/src/main/java/com/tns/notifications
platforms/android/src/main/java/com/tns/activities

did you manually add these files?
are these the location of the files that @WinMinTun edited to make it work?
a

[2017-01-02 05:37] armackey commented on #6
Hey, I'm trying to implement this code and it's not working. When I receive a message, nothing logs to the console. Is there something I'm missing?

[2017-01-20 09:11] simonettoa commented on #9
I have the same errors of  @sm1ddy . The application is crashing and the report is this below:

`java.lang.RuntimeException: Unable to instantiate service com.tns.notifications.NotificationIntentService: java.lang.InstantiationException: java.lang.Class<com.tns.notifications.NotificationIntentService> has no zero argument constructor
	at android.app.ActivityThread.handleCreateService(ActivityThrea

[2017-01-20 09:32] petekanev commented on #9
@simonettoa this is a known limitation (both of android and the nativescript android tooling), and unfortunately one that we haven't had the time to address for some time now.

Until this is fixed you can provide your own implementation of IntentService with an empty default constructor, and then expose it to JavaScript so that you can implement the NotificationIntentService.

I might be able to e

[2017-01-20 09:40] simonettoa commented on #9
@Pip3r4o thanks, I will try.

[2017-01-21 21:37] petekanev commented on #9
Sample project was cleaned up and updated. I also exposed IntentService with no constructor, and there should be no problems getting a notification after a period of time when pressing the button.

[2017-01-21 21:37] #9 closed, assigned to nobody

[2017-01-21 21:38] petekanev commented on #2
Project was cleaned up, and a fix applied in the form of a plugin. Feel free to test out the updated sample, and let me know how it works for you. Thanks!

[2017-01-21 21:38] #2 closed, assigned to nobody

[2017-01-21 21:39] petekanev commented on #1
Project got a much needed clean-up and this should no longer be an issue.

[2017-01-21 21:39] #1 closed, assigned to nobody

[2017-01-22 09:32] #3 closed, assigned to nobody

[2017-01-24 16:37] pacear10 commented on #2
Today I am running the project for background services

Https://github.com/NativeScript/sample-android-background-services

But still throwing the same error, is there something that should be done to clone the project to take the changes that made the project to stop displaying the error message?
Thank you.
`An uncaught Exception occurred on "main" thread.
java.lang.RuntimeException: Unable to in

[2017-01-24 16:46] pacear10 opened #10 "Unable to instantiate service com.tns.notifications.NotificationIntentService"
Today I am running the project for background services

Still showing the same error, what must be done to take the changes made three days ago and stop displaying the error message?
Thank you.

`An uncaught Exception occurred on "main" thread.
java.lang.RuntimeException: Unable to instantiate service com.tns.notifications.NotificationIntentService: java.lang.InstantiationException: can't instanti

[2017-01-24 17:11] petekanev commented on #2
@pacear10 From a freshly cloned project, it should be as simple as adding the android platform and running the project, the necessary dependencies should be downloaded, installed, then you'll be good to go.

[2017-01-24 17:13] petekanev commented on #10
Duplicate of https://github.com/NativeScript/sample-android-background-services/issues/2

[2017-01-24 17:13] #10 closed, assigned to nobody

[2017-01-25 13:12] pacear10 commented on #2
Thanks for replying, clone the project, install the android platform, the app starts, but when the button is pressed the error still appears.

[2017-01-25 14:19] petekanev commented on #2
@pacear10 just cloned it (master branch), did `npm install` followed by `tns run android` and everything worked perfectly. I am unable to reproduce the crash you are experiencing. Ensure the `com.pip3r4o.android.app.IntentService` is being extended inside `app/notifications/NotificationIntentService`

[2017-02-06 04:16] sam0829 opened #11 "Full Angular 2 Example"
Hello, please provide a full demo of this in Angular2. I am trying to implement this with my limited knowledge of Angular2. A proper demo will be very helpful.

I run this demo with TS & got run time exception that "NotificationIntentService" class not found.
So after searching a little, I am implementing based on the this issue : [https://github.com/NativeScript/sample-android-background-services

[2017-02-06 06:16] petekanev commented on #11
The code should work in both TypeScript and JavaScript, since one is essentially the other, just sprinkled with some sugar and fancy warnings.

If you still wish to use TypeScript for the class, here's what it would look like:
[code]

If you however still opt in for the JavaScript file, a class will still be generated, and you could still use it as any other Java class. If consumed in TS, you will

[2017-02-06 18:27] sam0829 commented on #11
Thanks for your quick reply, I am still not able to get this up running. What I tried is,
I created a hello world --ng app. then copied all the service / broadcast related js files from this demo. I used the js files from demo without changing a single line.

Then I initiated the service helper in `app.component.ts` like :
`var services =  require("./service-helper");`
`services.setupAlarm(utils.a

[2017-02-07 09:38] petekanev commented on #11
Only thing I can think of is that you don't have the additional utilities package which aims to patch the lack of a constructor with no parameters for the android IntentService.

https://github.com/NativeScript/sample-android-background-services/blob/master/app/notifications/NotificationIntentService.js#L1

`npm install nativescript-android-utils --save`
https://github.com/NativeScript/sample-andr

[2017-02-08 08:27] sam0829 commented on #11
Thanks @Pip3r4o . installing nativescript-android-utils solved the issue.

[2017-02-08 08:27] #11 closed, assigned to nobody

[2017-02-21 05:50] mrTR24 opened #12 "Use background service without alarm"
How can i use this background service without the alarm service triggering every 5 min .I want to run bluetooth in this background service so as to keep the BLE connection through out the application.
Thanks

function setupAlarm(context,notificationEventReceiver) {
    getStartPendingIntent(context);
}

i am just call the getStartPendingIntent() function in setupAlarm but its not calling the tns.b

[2017-02-21 06:04] petekanev commented on #12
Hey @mrTR24.

Please understand that this is just one of a hundred use-cases for background services android. You can implement your own as you see fit.

A quick google search yielded a lot of results for your particular case. Here's one of them:
http://stackoverflow.com/a/36678147/6408287

[2017-02-21 06:04] #12 closed, assigned to nobody

[2017-02-21 06:15] mrTR24 commented on #12
thanks for replying me @Pip3r4o

for android(native) : have used this http://stackoverflow.com/questions/25267753/how-to-keep-bluetooth-connection-in-background

and it worked

am new to Nativescript . this background service example is the best that i have found.am not being able to find a proper bg service example for bluetooth in nativescript.

any suggestion or advise?

[2017-02-21 07:54] petekanev commented on #12
Unless something has been made into a nativescript plugin already, you would have to implement functionalities yourself either in JavaScript (as done in this sample) or in Java code and then invoked through your JavaScript code.

[2017-03-04 12:05] sam0829 commented on #2
@Pip3r4o is it possible to generate Java code with 2.5.0 runtime? if not, how can I tell {N} explicitly to use 2.2.0 runtime?

[2017-03-04 19:01] petekanev commented on #2
@sam0829 version 3.0 will bring back generated Java code, if you wish to use a specific runtime, you can install it with `tns platform add android@2.2`, If adding the 0-params constructor is the only reason that you want to use 2.2, then you can instead npm install `nativescript-android-utils`, and extend from `com.pip3r4o.android.app.IntentService` instead of `android.app.IntentService`

[2017-03-22 07:16] sadiqna commented on #4
@snekbaev have you got success with background service nativescript angular.if provide any sample code or instructions

[2017-03-24 18:50] vswee commented on #11
@Pip3r4o You are a gem. It's working swimmingly now!

[2017-04-25 05:59] sadiqna commented on #11
@sam0829, @Pip3r4o , @vswee  , can you provide working sample solution for android background services with nativescript angular.

[2017-04-25 06:19] petekanev commented on #11
@sadiqna there is no difference in how you would consume android background services between NativeScript Angular and NativeScript with TypeScript/JavaScript

[2017-05-03 09:27] mrTR24 commented on #12
thank you for the reply

[2017-05-04 20:05] thiagoufg commented on #6
Please, would you give me more info about this code?

I'm using Nativescript Angular version 2.5.4 and I cannot make it work.

I don't want to read the inbox of SMSs (there are plugins capable of doing that). What I want is to intercept new incoming SMSs. This seems to be the closest code to what I want.

Do you have a github repository with the complete source code?

I don't know where to put tha

[2017-05-08 20:30] petekanev commented on #6
@thiagoufg it would appear that the TypeScript compiler is complaining because it doesn't have the android SDK typings. Comment out the typescript code and do a `tns build android --androidTypings` to have definitions generations for you. Also, I do not provide support for any code outside of the sample, so that kind of questions should be directed to the nativescript forums.
Thank you.

[2017-06-08 08:32] juanitozambada opened #13 "The sample don't run on nativescript version 3.0.1"
Everything is Ok when you download and run the sample, but I try to reproduce the sample with nativescript 3.0.1 and ... Don't run

I need background services for {N} 3.0.1

Can you help us?

[2017-06-08 08:44] petekanev commented on #13
Hey @juanitozambada I can't help you without you telling me what you've tried so far, the environment the sample runs on, any related code or code you consider to be relevant to the case. Any visible errors or logs.

The sample is version-agnostic so it shouldn't matter if you run this on 2.3, 2.5, or 3.0

[2017-06-09 00:20] juanitozambada commented on #13
I did the following:

    git clone https://github.com/NativeScript/sample-android-background-services
    cd sample-android-background-services

then, I upgrade:

   tns update next

then i got the following in package.json file

{
  "description": "NativeScript Application",
  "license": "SEE LICENSE IN <your-license-filename>",
  "readme": "NativeScript Application",
  "repository": "<fill-your

[2017-06-09 10:05] petekanev commented on #13
@juanitozambada I'll have a look and let you know when I've got updates.

[2017-06-09 19:17] petekanev commented on #13
@juanitozambada I've since isolated the problem in the android runtime, a fix will be available with the @next build some time next week, or immediately with the 3.1 release.

[2017-06-09 19:47] juanitozambada commented on #13
Thanks a lot. I appreciate your effort!

[2017-06-12 08:40] petekanev commented on #13
@surdu @juanitozambada I pushed a fix to the android runtime. Feel free to test it away by first installing the latest bits from master: `tns platform add android@next`.

[2017-06-12 08:40] #13 closed, assigned to nobody

[2017-06-12 22:03] juanitozambada commented on #13
You´re amazing!, thanks a lot.

[2017-06-21 07:56] MJ-Vakili opened #14 "crash android version 4.4.4"
crash android version 4.4.4

error msg:
`An uncaught Exception occurred on "main" thread.
com.tns.NativeScriptException:
Calling js method onHandleIntent failed

Error: java.lang.NoSuchMethodError: no method with name='setColor' signature='(I)Landroid/app/Notification$Builder;' in class Landroid/app/Notification$Builder;
    com.tns.Runtime.callJSMethodNative(Native Method)
    com.tns.Runtime.acc

[2017-07-15 16:26] petekanev commented on #14
Thank you for reporting the problem! You can adjust the demo inside https://github.com/NativeScript/sample-android-background-services/blob/master/app/notifications/NotificationIntentService.js to not call methods unavailable in API 19.

[2017-08-09 05:20] priyangamani commented on #5
Hi,
      @snekbaev
onReceive function is not working for me....(SMS NOtification using broadcastreceiver)

Code:
android.content.BroadcastReceiver.extend("com.broadcastreceivers.IncomingSmsBroadcastReceiver", {
    onReceive: function(context,intent) {
        console.log("context",context);
        console.log("broad",com.broadcastreceivers.IncomingSmsBroadcastReceiver);
        var messages=  i

[2017-08-09 06:36] priyangamani commented on #6
I'm also trying to implement this code and on receive function  it's not working.

[2017-08-09 06:52] snekbaev commented on #5
@priyangamani it was a test and the only NS project I've implemented so far. At the moment I have no recollection how I resolved it

[2017-08-09 09:15] priyangamani opened #15 "Cannot implement broadcast receiver. Need help."
Creating a class in JS:-

[code]
[code]

[2017-08-09 10:09] petekanev commented on #15
Hey @priyangamani it doesn't become clear what isn't working for you, nor whether you've registered the broadcast receiver. Please take the time to explain detail, in a structured manner, what you are trying to do.

Thank you.

[2017-08-09 10:43] priyangamani commented on #15
@Pip3r4o Listen For Incoming SMS Messages by using Broadcastreceiver.
 Why  Broadcastreceiver's onreceive() method not invoked?
 I'm trying to implement this code and it's not working. When I receive a message, nothing logs to  the console. Is there something I'm missing?

[2017-08-09 10:58] petekanev commented on #15
@priyangamani  please answer the following questions:

- How have you attempted to trigger the broadcast receiver?

- Do you receive SMS' while your app is running?

- Where is the AndroidManifest file located where you register the Broadcast receiver? Is it the `app/App_Resources/Android/AndroidManifest.xml`? No other place would work.

-  Where in the AndroidManifest have you inserted the <recei

[2017-08-11 09:35] priyangamani commented on #15
1.How have you attempted to trigger the broadcast receiver?
  Just i tried to extend the Broadcastreceiver class and call the onreceiver function.
I mentioned Receiver tag in manifest..
//Below file i mentioned in javascript
android.content.BroadcastReceiver.extend("com.tns.broadcastreceivers.NotificationEventReceiver", {
    onReceive: function (context, intent) {
        var action = intent.getA

[2017-08-24 11:47] nrbn opened #16 "Documentation for javascript"
I need guidance in just javascript version. My application is only on javascript and this plugin is only available with typescript and angular.

A proper demo of javascript will be very helpful. Can you help me please?

[2017-08-24 16:58] petekanev commented on #16
@nrbn that is incorrect - the demo is purely in JavaScript, and the code can be straight out copy-pasted inside a TypeScript (angular) app and it will still work.

Please read the blog post on android background services in NativeScript.

[2017-08-24 16:58] #16 closed, assigned to nobody

[2017-08-27 22:16] SteveOliverC opened #17 "Requires nativescript-android-utils"
You need to include this plugin in your own projects so that the NotificationIntentService can be found. I missed this step if it was in the instructions.

https://github.com/Pip3r4o/nativescript-android-utils

[2017-08-28 06:39] petekanev commented on #17
The project demo already references the nativescript-android-utils as can be seen in the package.json - https://github.com/NativeScript/sample-android-background-services/blob/master/package.json

[2017-08-28 06:39] #17 closed, assigned to nobody

[2017-09-14 19:40] cmargulhano commented on #4
@snekbaev?

[2017-09-15 07:54] snekbaev commented on #4
Hi,
I managed to make it work back then. It was my first and the only NS project. I don't remember the details now, but occasionally to be able to see the broadcaster related changes a full deploy was required, otherwise it was just giving an error or running the older code. I'm not aware if they have changed anything in that respect (since v2.3 or v2.4), but working with the platform specific nat

[2017-09-15 15:06] cmargulhano opened #18 "Running service in background"
I wrote this code below. This works perfect when APP is in foreground, but when the APP is closed, the service stopped. What I'm doing wrong?

[code]

[2017-09-16 06:58] petekanev commented on #18
@cmargulhano when the app is closed or killed? The javascript implemented in the service runs thanks to the javascript virtual machine on the main thread of the app. Naturally if you kill the application, the service won't be able to execute any more javascript.

[2017-09-16 12:15] bastianjoel commented on #1
I've got the same issue after updating Nativescript to the newest version on Ubuntu.
In every project I'm starting I need to run `chmod +x platforms/android/gradlew` to get the builds running on android.

[2017-09-16 18:42] cmargulhano commented on #18
And How to make a simple service that remains running even when the app was closed?

[2017-09-16 20:51] petekanev commented on #18
@cmargulhano you'd have to implement that in Java. I really cannot recommend starting the NativeScript runtime for a background service. That is an overkill for a service.

[2017-09-16 20:51] #18 closed, assigned to nobody

[2017-09-29 07:39] DivyeshSharma opened #19 "Service class in not working"
We are building a nativescript app(v3.1.2, Angular 2) in which we neeed to create a service which should run continuously in background. For that I have created Native Android service in typescript. Please find below the code of my service class:

var app = require("application");
var timer = require("timer");
var _timerId;
var Toast = android.widget.Toast;
var context = app.android.context;

andr

[2017-10-05 07:00] DivyeshSharma opened #20 "Can not access typescript class from service"
I build my nativescript app(Nativescript verison 3.1.2) in which i want to call REST API and store result of it in database when app is in foreground or background, so i used android Service to make it possible to run my app in background. My Service working nice but i want to access typescript class here to call api but i am not able to do that as there is nothing like constructor here so i can't

[2017-10-05 07:52] petekanev commented on #20
I am not sure where `merge` is coming from, also AFAIK subscribe is used to resolve promises. Make sure that that whatever you call `subscribe` on is not undefined. The code in this repository is not special in any way, in the sense that you still write TypeScript/JavaScript and still have access to all your project files and scripts.

[2017-10-05 09:01] DivyeshSharma commented on #20
how can i able to inject instance of my typescript class in that service class without constructor is there any way cause the main issue here is object/instance is not created properly. So is there any alternative to inject instance without injecting it in constructor.

[2017-10-12 12:05] ekta159 commented on #20
Thanks for you reply  Yes, you are right, this is happening because I am creating parameters expected by API service manually.
I am doing this because my android service is defined in another file “MyAndroidService.js”, and that’s why I need instance of APIService.
ts in MyAndroidService.js for calling API. I am not sure how can I create new instance of it inside as normally we inject the service

[2017-10-12 12:11] petekanev commented on #20
At this point I am not sure if you can "inject" the service in that sense. You could provide an implementation when extending the class by defining an `init: function() { ctor code executed here }` in your class implementation, but I am not sure whether that would work with javascript dependency injection.

[2017-10-23 11:23] arslanyasin commented on #20
Hi DivyeshSharma and pip3r4o
i am trying to use service in my app but can't do i am new on nativescript with angular can you please guide how can i use service and call its start command as you give 2 of yours classes.

Thank you.

[2017-10-23 17:55] petekanev commented on #20
@ArslanYasin I am not sure what you are asking exactly. There is a blog post on the matter, and a lot of resources online on how to work with Services in android.

https://www.nativescript.org/blog/using-android-background-services-in-nativescript

[2017-10-31 10:41] arslanyasin commented on #20
@DivyeshSharma @Pip3r4o  i have same issue could not understand this problem getting same error
"merge" of undefined please help me... thanks

[2017-11-30 07:23] Plamen5kov opened #21 "App not working with Android O"
_problem_
application error when ran and set in background on android O:
[code]

_why this happens_
in android O there are [new background restrictions](https://developer.android.com/about/versions/oreo/background.html)

_solution_
We need to replace [WakefulBroadcastReceiver](https://github.com/NativeScript/sample-android-background-services/blob/master/app/broadcastreceivers/NotificationEventRec

[2018-01-24 23:26] Taremeh opened #23 "Cannot read property 'NotificationIntentService' of undefined"
Hi! I'm using Angular + Nativescript with Android (everything on newest version).
Even though I tried to implement everything as it is in this sample + installing nativescript-android-utils, I'm still getting this error:

[code]

This is the NotificationEventReceiver.js:

[code]

AndroidManifest.xml:
[code]
I really tried everything to get it work, but I can't find the cause... Please help 😅

[2018-01-25 20:33] cesarvega commented on #23
Hey @Taremeh  I hve the same issue I even down grade my tns-core-services to v.3.3.0 and still says
**Cannot read property 'IntentService' of undefined**

**_because this is undefined com.pip3r4o.android.app = _undefined_**

[2018-01-25 20:35] cesarvega commented on #23
I your case **System.err: TypeError: Cannot read property 'NotificationIntentService' of undefined
System.err: File: "file:///data/data/com.apphoven.apphovenAlpha/files/app/pages/piece/piece-recorder/background-service/NotificationEventReceiver.js, line: 23, column: 58**

this is because you have to add this to the AndroidManifest.xml inside the App_Resources/ android/AndroidManifest.xml
here is m

[2018-01-25 21:08] cesarvega opened #24 "Im Not able to use the patch com.pip3r4o.android.app.IntentService.extend is undefined"
Hi guys I got this application in typescript running I will post my code at the end for you just to paste and run , so far all is working until the part that I get an error saying I need to do an empty constructor when I implement the code below

PLEASE ANY HELP to figure how to make the patch works is the only piece missing for
   **"nativescript-android-utils": "^1.0.2",**
 **"tns-core-modules":

[2018-01-25 21:14] cesarvega commented on #15
use it like this
at the top declare this
[code]

`  testService() {

        com.pip3r4o.android.app.IntentService.extend("com.tns.notifications.NotificationIntentService" /* give your class a valid name as it will need to be declared in the AndroidManifest later */, {
            onHandleIntent: function (intent) {

                var action = intent.getAction();
                if ("ACTION_STAR

[2018-01-26 08:09] petekanev commented on #24
@cesarvega the `com.pip3r4o.android.app.IntentService` class was made for the sole purpose of circumventing the `error saying I need to do an empty constructor`.

The IntentService IS undefined, unless you install the `nativescript-android-utils` package, which is where the custom IntentService comes from!

[2018-01-26 08:09] #24 closed, assigned to nobody

[2018-01-26 08:09] petekanev commented on #23
@Taremeh did you install `nativescript-android-utils`?

The IntentService IS undefined, unless you install the `nativescript-android-utils` package, which is where the custom IntentService comes from!

[2018-01-26 09:41] #21 closed, assigned to nobody

[2018-01-27 20:57] Taremeh commented on #23
Why did you close it? Yes, as I said I have even installed the nativescript-android-utils...
And yes, as I said, I also included those lines into my AndroidManifesto. But it still doesn't work...

[2018-01-27 21:18] Taremeh commented on #23
More about the crash:

[code]

[2018-01-29 16:52] cesarvega commented on #23
I did Install the nativescript-android-utils something i notice is the index.d.ts is empty when install via npm but if you download the source code from here witch it  does have a type definition code file index.d.ts, i try with that and still saying that my Instance method is undefined
![capture](https://user-images.githubusercontent.com/1844897/35522875-826b289c-04eb-11e8-8bae-7e56769ae6d1.JPG)

[2018-01-29 20:09] Taremeh commented on #23
@cesarvega Yes, my index.d.ts was empty too. However downloading it from here and then adding it to my app manually did not help. Still same issue:

[code]

[2018-01-29 20:12] Taremeh commented on #23
And: App randomly crashes with the same error, even though I didn't fire a new notification. So the notification seems to be floating around somewhere, but calling the "NotificationIntentService" kills the app and causes the crash.

[2018-01-30 08:03] petekanev commented on #23
@Taremeh @cesarvega I'll look into the problem, but meanwhile if I may ask, what device are you trying to run the application on? What API Level is the device?

We've updated the sample in the `master` branch to use code compatible with Oreo, no longer using broadcast receivers, as those didn't seem to work on Android O and higher API levels.

[2018-01-30 13:26] cesarvega commented on #23
@Pip3r4o Hey thanks for your reply, I have minimum SDK 19 Target 25 I want use the background service cause the job scheduler dont fire for some reason if time is lower than 15 min and I need this running every 5 min.

HERE is a link of the sample project with node_modules and everything  , is just 113 MB ready to tns debug android Please copy and paste the link to your browser

https://drive.goog

[2018-01-30 14:43] petekanev commented on #23
@cesarvega @Taremeh

Following are the two test runs of the sample application. The first one is of the master branch, and the other is from the older code base - `implementation-prior-apiLevel21` branch.

Master branch, Emulator API 26 -
![bg-service-master-branch](https://user-images.githubusercontent.com/10464986/35571943-24219162-05dc-11e8-85b9-c5c9f353a43f.PNG)

The notification works on API

[2018-01-30 15:02] cesarvega commented on #23
here is the sample @Pip3r4o  https://drive.google.com/open?id=1iWW8mYHwUSrsweMypVv_qs7rg-CjuFQU just got to the app.component.ts there is a  test(event){} where I put the code, I comment the intent service and leave the job scheduler with this time  builder.setPeriodic(3 * 60 * 1000); instead of  builder.setPeriodic(15 * 60 * 1000); and its no firing ... check the sample app I did install the util

[2018-01-30 15:46] petekanev commented on #23
@cesarvega the code from `master` won't really work for your case because it targets devices running API 26 (Android N) and up. If you wish for the local notifications to work both for old and newer devices, then you will need to have both implementations in your code base. Using the JobService will work on devices as low as API 21.

Your code, inside the extended JobService, does log `"Job execut

[2018-01-30 15:57] cesarvega commented on #23
@Pip3r4o yes it gets to that point where you log the Job Schedule, but try to repeat the job I never does, also I want to test the job every 10 second is that possible  **(  builder.setPeriodic(15 * 60 * 1000);**) I need to send a post to a server with the users location  once is inside this onStartJob function, since I cant repeat this IM trying the 15 min but not notification is coming up

[2018-01-30 16:08] petekanev commented on #23
@cesarvega your code does not contain anything related to notifications, as you've most likely stripped that. Therefore it is completely natural that you are not seeing notifications.

JobInfo's builder's [setPeriodic](https://developer.android.com/reference/android/app/job/JobInfo.Builder.html#setPeriodic(long)) method will set an interval within which the scheduled job will execute **once**, you

[2018-01-30 18:18] cesarvega commented on #23
Ok I see is working on 15 min I will test more and when I complete and make sure is working then I will share my solution thank you

![capture](https://user-images.githubusercontent.com/1844897/35583501-20fb102e-05c0-11e8-8082-541c3004cdc9.JPG)

[2018-02-13 14:25] agrw opened #26 "Notification Channel fails Android 7.1.1"
but the notification code doesn't work with Android 7.1.1
  const mChannel = new android.app.NotificationChannel(channelId, name,importance);

[2018-02-27 13:59] cracki commented on #19
same error

[2018-03-16 08:07] fabiomela commented on #26
Same issue on the example project.

`StackTrace:
System.err: 	Frame: function:'onStartJob', file:'file:///data/data/org.nativescript.bgservice/files/app/notifications/MyJobService.js', line: 29, column: 26
System.err:
System.err: 	at com.tns.Runtime.callJSMethodNative(Native Method)
System.err: 	at com.tns.Runtime.dispatchCallJSMethodNative(Runtime.java:1088)
System.err: 	at com.tns.Runtime.callJS

[2018-03-16 09:28] fabiomela commented on #23
@cesarvega
Did you arrange the solution with **Nativescript+Angular** for **android**, with app closed and removed from the tray?
I still have an error just like:
`java.lang.RuntimeException: Unable to instantiate service com.tns.notifications.MyJobService: com.tns.NativeScriptException: Failed to create JavaScript extend wrapper for class 'com/tns/notifications/MyJobService'
03-15 11:36:33.150: W

[2018-04-05 08:07] ghost opened #27 "Nativescript Angular example"
I really don't have a single idea how to implement it using nativescript-angular template.

[2018-05-17 14:47] skhye05 commented on #26
I am getting the same issue.

[2018-05-17 23:04] JorgeHawkins opened #28 "No "I" field "IMPORTANCE_LOW" in class"
While trying to run the demo in my 5.1.1 phone, I managed to get this error:

[code]

[2018-05-30 12:03] cerireyhan commented on #4
@cmargulhano anyone made it work with nativescript-angular?

[2018-06-06 14:46] des-esseintes commented on #28
same

[2018-06-14 04:06] manojdcoder commented on #28
The error log has everything you need, [IMPORTANCE_LOW](https://github.com/NativeScript/sample-android-background-services/blob/master/app/notifications/MyJobService.js#L28) is available only from API level 24. So I assume this demo works on only Android 7.x and above.

But still the idea of creating a background service is same for any version. What you write inside depends on your business requi

[2018-06-26 17:12] ju4nj3 commented on #26
+1

[2018-06-27 08:23] NickIliev commented on #28
@des-esseintes @JorgeHawkins @manojdcoder the current implementation is using `NotificationChannel` and will work only on API 26+ (Android 8 and above). [Added in the README](https://github.com/NativeScript/sample-android-background-services/pull/30)

[2018-06-27 08:23] #28 closed, assigned to nobody

[2018-06-27 08:25] NickIliev commented on #26
@ju4nj3  @skhye05  @agrw @fabiomela

The demo will work only on Android 8 and above. I've added [a note in the README ](https://github.com/NativeScript/sample-android-background-services/pull/30). To support an earlier versions you will need to remove the `NotificationChannel` usage.

Also added Webpack to the demo.

[2018-06-27 08:25] #26 closed, assigned to nobody

[2018-06-27 08:27] NickIliev commented on #27
@jannotabamo the workflow is exactly the same - you need to follow the steps described in the README.
I've also added Webpack to the demo to show the steps needed to bundle an application with extended classes.

[2018-06-27 08:27] #27 closed, assigned to nobody

[2018-06-27 08:29] NickIliev commented on #23
The demo was updated and will currently work only on Android API 26 and above (as it is now using `NotificationChannel`). Closing this issue as it should no longer be reproducible (due to the new demo implementation)

[2018-06-27 08:29] #23 closed, assigned to nobody

[2018-06-27 08:30] #20 closed, assigned to nobody

[2018-06-27 08:30] NickIliev commented on #14
CLosing as the updated demo is meant to work only on API26 and above

[2018-06-27 08:30] #14 closed, assigned to nobody

[2018-06-27 08:31] #6 closed, assigned to nobody

[2018-06-27 08:31] #7 closed, assigned to nobody

[2018-06-27 08:32] NickIliev commented on #4
@cerireyhan the workflow for Angular application is no different from the plain JS one. Let me know if you are hitting a specific problem in your implementation.

[2018-06-27 08:32] #4 closed, assigned to nobody

[2018-06-27 08:34] NickIliev commented on #15
Closing due to inactivity. Please post a how-to related question in the community channels like SO, NativeScript slack or [NativeScript forum](https://discourse.nativescript.org/)

[2018-06-27 08:34] #15 closed, assigned to nobody

[2018-06-27 08:36] NickIliev commented on #19
use `getClass()` method of activity (e.g. [here](https://github.com/NativeScript/NativeScript/blob/b0afd3ab3038da3959d659f7d38823d162ee694c/tns-core-modules/ui/frame/frame.android.ts#L620))

[code]

[2018-06-27 08:36] #19 closed, assigned to nobody

[2018-06-27 16:33] ju4nj3 commented on #26
Thank you @NickIliev

[2018-10-08 12:56] SathyaVS opened #32 "Error on the NativeScript/sample-android-background-services"
Hi,
I am getting the below issue while run the given sample app, i am using API 26 emulator please help me to rectify these errors.

Successfully synced application org.nativescript.bgservice on device 192.168.67.102:5555.
JS: Job Scheduled: 1
JS: Job execution ...
10-08 11:33:49.257  2600  2600 E AndroidRuntime:        at com.tns.Runtime.callJSMethodNative(Native Method)
10-08 11:33:49.257  2600

[2018-11-01 15:05] SimonGuertin4 commented on #32
I'm getting the same issue here.

[2018-11-23 07:32] priyakathiresan1 commented on #32
I'm also getting same issue here

[2018-11-29 23:31] imperatormk opened #33 "ClassNotFoundException"
Hello.

I am trying to create a custom class that I would use as a service. However, I'm getting a ClassNotFoundException.

Here is the relevant line:

`android.app.Service.extend("com.tns.services.SyncService", { ...`

I don't have that package and it makes sense that it fails. However, if I add the class to my JAR plugin then I get an error that it can't be casted to Service type. If that's the

[2018-12-14 16:40] raulvc commented on #32
Background services did work before, some unrelated update must've broken it and I'm now getting these errors after successfully scheduling...

[2018-12-29 14:27] ArdynVex commented on #33
Hi,
Have you found any solution?

[2019-01-04 07:12] vikasacharya16 opened #34 "Error: java.lang.NoSuchFieldError: no "I" field "IMPORTANCE_LOW" in class "Landroid/app"
**The downloaded project from this github was giving this error below on click of notification button.
 can anyone tell me how to solve this**

[2019-01-04 07:34] vikasacharya16 commented on #28
**i updated nativescirpt to latest(5.1)
 Then downloaded project "sample-android-background-services" from github.
 on click of start notification schedule button was giving this error below.
 i have nativescript-android-utils  installed.
 can anyone tell me how to solve this ...!**

[2019-02-18 18:57] jorgeartigas commented on #4
@NickIliev I'm trying to use a method from AppComponent class inside MyJobService but im getting this error
How can I use other class methods?

`TypeError: Cannot read property 'get' of undefined`

this is the code

[code]

[2019-04-05 09:43] klever34 opened #35 "Cannot read property `MyJobService`"
System.err: TypeError: Cannot read property 'MyJobService' of undefined
System.err: File: "file:///data/data/org.project.app/files/app/bundle.js, line: 485, column: 83
System.err:
System.err: StackTrace:
System.err: 	Frame: function:'scheduleJob', file:'file:///data/data/org.project.app/files/app/bundle.js', line: 485, column: 84
System.err: 	Frame: function:'onTap', file:'file:///data/data/org.pr

[2019-04-17 06:41] NickIliev commented on #35
@klever34 the app is now migrated to NativeScript 5 and the issue should not manifest - please do let me know if you are still experiencing this one.

[2019-04-17 06:41] #35 closed, assigned to nobody

[2019-04-17 06:42] NickIliev commented on #34
The project is now migrated to NativeScript 5.x.x

[2019-04-17 06:42] #34 closed, assigned to nobody

[2019-04-17 06:44] NickIliev commented on #32
The project is now updated to NativeScript 5.x.x and the issue is not reporducible

[2019-04-17 06:44] #32 closed, assigned to nobody

[2019-04-22 21:07] nisha-ann opened #37 "How to work this with Angular? Any sample for background notification working in angular"

[2019-05-07 19:47] hkurma commented on #37
I'm looking for implementation of the same in Angular. Can somebody help me out?

[2019-05-07 21:28] hkurma commented on #37
@nisha-ann Did you find any solution on this or a work around?

[2019-05-08 02:19] nisha-ann commented on #37
No...I am doing another part of my project, but I will have to implement this in the 2nd phase....I will do this by that time...like in 2 weeks

[2019-05-08 02:19] nisha-ann commented on #37
Let's try to implement this...if you have done it plz share it....

[2019-06-07 07:52] mitskovets opened #38 "Dont work com.pip3r4o.android.app.IntentService with tns-android: 5.4.0"
return error: `java.lang.RuntimeException: Unable to start service com.something.SomeService@bff0672 with Intent { act=ACTION_START cmp=com.my.app/com.something.SomeService }: java.lang.NullPointerException: Attempt to invoke virtual method 'android.os.Message android.app.IntentService$ServiceHandler.obtainMessage()' on a null object reference at android.app.ActivityThread.handleServiceArgs(Activi

[2019-07-24 07:54] SvetoslavTsenov opened #41 "Application crashes on calling scheduleJob method"
Reproduced with tns-core-modules@6.0.0 and android-runtime@6.0.0

1. Run application
2. Click on button
3. Application crashes with the following error:

--------- beginning of main
07-24 10:52:03.915  1269  1628 W audio_hw_generic: Not supplying enough data to HAL, expected position 1525688 , only wrote 1389422
07-24 10:52:06.037  3239  3239 I JS      : ComponentInfo{org.nativescript.bgservice/co

[2019-07-26 11:46] vhristov5555 commented on #41
Resolved with 6.0 release

[2019-07-26 11:46] #41 closed, assigned to nobody

[2019-10-14 01:13] andresilva-cc opened #42 "Targeting both API Level 26+ and below"
As stated in the README:

So, how can I implement background services that will work on both API Level 26+ and below? Because the two solutions provided will only work on either 26+ or below 26.

[2019-10-21 19:04] andresilva-cc commented on #42
This post in StackOverflow helps with that:
https://stackoverflow.com/questions/58423548/how-can-i-implement-android-background-service-in-nativescript-targeting-both-ap

[2019-10-21 19:04] #42 closed, assigned to nobody

[2020-06-02 22:22] csimpi commented on #37
I'd be very interested in a solution, still couldn't find out how to use this with Angular

[2020-06-12 18:50] basickarl commented on #15
That link to the forum doesn't work.

Regarding the initial question. I myself am in the exact situation. There is no info about this anywhere.

[2021-03-30 17:50] juniorschen commented on #27
@NickIliev Incredible time that I am spending finding several people with the same doubts and having problems using it with angular and seeing this wonderful answer